.container {
    display: block;
    position: relative;
    list-style-type: none;
    text-align: center;
}
  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}